<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Am Seguros - contacto</title>
	<link rel="stylesheet" href="../css/estilo.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous"/>
</head>
<body>
	<header>
		<nav class="navbar">
			<img src="../assets/img/logo.jpeg" class="logo" alt="am seguros logo">
			<ul class="menu" id="menu">
				<li class="nav__item"><a href="../index.html">Home</a></li>
				<li class="nav__item"><a href="#">Contacto</a></li>
				<li class="nav__item"><a href="quienesSomos.html">Quienes somos</a></li>
				<li class="nav__item"><a href="autogestion.html">Autogestion</a></li>
				<li class="nav__item"><a href="consejos.html">Consejos</a></li>
			</ul>
			<div class="menu-bar" id="menu-bar">
				<i class="fas fa-bars"></i>				
			</div>
		</nav>
	</header>
	<main class="general_contacto">
		<div class="info_contacto">														<h1>Escribinos y te asesoramos en todos nuestros productos</h1>
			<button class="btn_contacto">WhatsApp</button>
		</div>
		<div class="text__contacto">
			<h1 class="text__tabla">NUESTROS PRODUCTOS</h1>
			<table border="1" cellpadding="5" cellspacing="2">
			<tr class="tabla">
				<th>PRODUCTO</th>
				<th>DESCRIPCION</th>
				<th>DESCUENTO</th>
			</tr>
			<tr>	
				<td>SEGURO</td>
				<td>AUTOMOTOR</td>
				<td>25% DE DESCUENTO</td>
			</tr>
			<tr>
				<td>SEGURO</td>
				<td>MOTO</td>
				<td>15% DE DESCUENTO</td>
			</tr>
			<tr>
				<td>SEGURO</td>
				<td>HOGAR</td>
				<td>50% DE DESCUENTO</td>
			</tr>
			<tr>
				<td>PREPAGA</td>
				<td>PREVENCION SALUD</td>
				<td>25% DE DESCUENTO</td>
			</tr>
			<tr>
				<td>SEGURO</td>
				<td>CAUCION</td>
				<td>15% DE DESCUENTO</td>
			</tr>
			<tr>
				<td>SEGURO</td>
				<td>COMERCIO</td>
				<td>30% DE DESCUENTO</td>
			</tr>
			</table>
		</div>
		
	</main>

	<footer class="footer">
		<div class="cotiza">
			<i class="fas fa-money-bill-alt"></i>
			<h2 class="cotiza-item"><a href="contacto.html">Cotiza online</a></h2>
		</div>
		<div class="redes-sociales">
			<h3>Nuestras Redes</h3>
			<i class="fab fa-facebook"></i>
			<i class="fab fa-instagram"></i>
		</div>
	</footer>

<script src="../js/scripts.js"></script>	
</body>
</html>